:root {
  --color-primary: var(--pink);
  --pink: pink;
  --spacing-sm: 0.75rem;
  --spacing-lg: 1.5rem;
  --font-title: "Roboto Slab";
  --font-content: "Spartan";
  --font-2xs: 0.75rem;
  --font-xs: 0.875rem;
  --font-sm: 1rem;
  --font-md: 1.125rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 1.875rem;
  --font-3xl: 2.25rem;
  --font-4xl: 3rem;
  --font-5xl: 3.2rem;
  --font-6xl: 4.5rem;
  --font-7xl: 5.75rem;
  --font-8xl: 7rem;
  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
  --spacing-4xl: 6rem;
  --spacing-5xl: 8rem;
  --spacing-6xl: 12rem;
  --spacing-7xl: 16rem;
  --spacing-8xl: 24rem;
  --spacing-9xl: 32rem;
  --spacing-10xl: 40rem;
  --spacing-11xl: 48rem;
  --spacing-12xl: 60rem;
  --spacing-13xl: 72rem;
  --spacing-14xl: 84rem;
  --line-height-2xs: 0.9;
  --line-height-xs: 1.1;
  --line-height-sm: 1.2;
  --line-height-md: 1.4;
  --line-height-lg: 1.7; }

/* Base Styles */
body {
  background-color: #fef8f6;
  min-width: 350px;
  max-width: 960px;
  margin: 0 auto;
  padding: var(--spacing-2xl);
  font-family: var(--font-content); }

h1 {
  font-family: var(--font-title);
  font-size: var(--font-2xl); }
  @media screen and (min-width: 750px) {
    h1 {
      font-size: var(--font-4xl); } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: var(--font-5xl); } }

h2 {
  font-family: var(--font-title);
  font-size: var(--font-lg); }
  @media screen and (min-width: 750px) {
    h2 {
      font-size: var(--font-xl); } }
  @media screen and (min-width: 1200px) {
    h2 {
      font-size: var(--font-2xl); } }

h3 {
  font-family: var(--font-title);
  font-size: var(--font-sm); }
  @media screen and (min-width: 750px) {
    h3 {
      font-size: var(--font-md); } }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: var(--font-lg); } }

p {
  font-size: var(--font-sm);
  line-height: var(--line-height-md);
  padding-bottom: var(--spacing-2xs); }
  @media screen and (min-width: 750px) {
    p {
      padding-bottom: var(--spacing-sm); } }
  @media screen and (min-width: 1200px) {
    p {
      font-size: var(--font-md);
      padding-bottom: var(--spacing-md); } }

span {
  font-size: var(--font-sm); }
  @media screen and (min-width: 1200px) {
    span {
      font-size: var(--font-md); } }

a {
  color: inherit; }

/* Technology Themes */
.javascript {
  --technology-color: #453c39; }

.react {
  --technology-color: #31c8e2; }

.redux {
  --technology-color: rgb(118, 74, 188); }

.nodejs {
  --technology-color: #43853d; }

.typescript {
  --technology-color: #007acc; }

.sass {
  --technology-color: #cc6699; }

.git {
  --technology-color: red; }

.vscode {
  --technology-color: #007acc;
  white-space: nowrap; }

/* Page Styling */
.nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: var(--spacing-md); }
  @media screen and (min-width: 750px) {
    .nav {
      display: flex;
      justify-content: space-between;
      padding-bottom: var(--spacing-xl); } }
  .nav .nav__logo {
    font-family: var(--font-content);
    justify-self: start; }
  .nav .nav__available {
    font-family: var(--font-content);
    justify-self: start; }
    .nav .nav__available .pulse {
      width: 8px;
      height: 8px;
      background-color: #659b60;
      background-clip: padding-box;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 3px;
      margin-right: 12px;
      box-shadow: rgba(61, 121, 56, 0.4) 0px 0px 0px;
      animation: 2s ease 0s infinite normal none running pulseDot; }

.subtitle {
  font-family: var(--font-content);
  font-size: var(--font-sm);
  padding: 0 0 var(--spacing-md) 0; }
  @media screen and (min-width: 750px) {
    .subtitle {
      font-size: var(--font-lg); } }
  @media screen and (min-width: 1200px) {
    .subtitle {
      font-size: var(--font-xl); } }

.technologies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: var(--spacing-md);
  margin: var(--spacing-md); }
  @media screen and (min-width: 750px) {
    .technologies {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: var(--spacing-lg) 0;
      margin-bottom: var(--spacing-lg); } }
  .technologies .technology {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .technologies .technology__icon {
      --icon-size: 32px; }
      .technologies .technology__icon svg {
        width: var(--icon-size);
        height: var(--icon-size);
        fill: var(--technology-color); }
    .technologies .technology__name {
      color: var(--technology-color);
      font-family: var(--technology-font); }

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 750px) {
    .resume {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  .resume .list {
    list-style-type: none;
    max-width: 80%; }
  .resume ul.list {
    padding: 0; }
  .resume .list__title {
    font-family: var(--font-title);
    font-size: var(--font-md);
    margin-bottom: var(--spacing-xs); }

@keyframes pulseDot {
  0% {
    box-shadow: rgba(61, 121, 56, 0.4) 0px 0px 0px 0px; }
  70% {
    box-shadow: rgba(61, 121, 56, 0) 0px 0px 0px 10px; }
  100% {
    box-shadow: rgba(61, 121, 56, 0) 0px 0px 0px 0px; } }
